:root {
    --light: #fff;
    --dark: #2e2e2e;
    --dark-light: #414141;
    --gray: #777777;
    --yellow: #ffcc21;
    --organge-light: #ff963c;
    --organge-dark: #ea6c00;
    --blue-light: #8fe9d0;
}
.my-record-diary {
    margin-top: 0px;
}

.my-record-diary > h3 {
    text-transform: uppercase;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    /* or 123% */

    letter-spacing: 0.11px;

    color: #414141;
}

.my-record-diary > .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.my-record-diary > .content .diary {
    width: 262px;
    
    border: 2px solid #707070;
    margin-right: 15.5px;
    margin-bottom: 15.5px;
    padding: 20px;
}
.my-record-diary > .content .diary:hover{
    border: 2px solid var(--organge-light);
}

.my-record-diary > .content .diary > h4,
.my-record-diary > .content .diary > span {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* or 122% */

    letter-spacing: 0.09px;

    color: #414141;
}

.my-record-diary > .content .diary > .text {
    margin-top: 10px;

    font-family: 'Hiragino Kaku Gothic Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
    /* or 142% */

    letter-spacing: 0.06px;

    color: #414141;
}
